<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: darkblue; color: white">
    <% if (user) { %>
      <a class="navbar-brand" href="/urls" style="font-family: Arial Black;">tinyURL</a>
    <% } else{ %>
      <a class="navbar-brand" href="/" style="font-family: Arial Black;">tinyURL</a>
    <% } %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if (user) { %>
      <!-- log out -->
      <form method="POST" action="/logout">
        <label>Logged in as <em><%= user["email"] %></em>&nbsp</label>
        <button type="logout" class="btn btn-outline-primary">Log Out</button>
      </form>
    <% } else{ %>
      <!-- log in -->
      <form method="POST" action="/login">
        <button type="submit" class="btn btn-light"><a href="/login">Log In</a></button>
      </form>
      <button type="submit" class="btn btn-light"><a href="/register">Register</a></button>
    <% } %>
  </nav>
</header>